# cloud-init configuration for AlpineOS (OpenRC, musl)

disable_root: true
preserve_hostname: false
datasource_list: [NoCloud]

cloud_init_modules:
  - migrator
  - seed_random
  - bootcmd
  - write-files
  - growpart
  - resizefs
  - disk_setup
  - mounts
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - ca-certs
  - users-groups
  - ssh

cloud_config_modules:
  - set-passwords
  - ntp
  - timezone
  - disable-ec2-metadata
  - runcmd

cloud_final_modules:
  - package-update-upgrade-install
  - scripts-vendor
  - scripts-per-once
  - scripts-per-boot
  - scripts-per-instance
  - scripts-user
  - ssh-authkey-fingerprints
  - final-message
  - power-state-change

system_info:
  distro: alpine
  default_user:
    name: admin
    lock_passwd: true
    gecos: "Instance Administrator"
    groups: [sudo, docker, video]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  paths:
    cloud_dir: /var/lib/cloud/
    templates_dir: /etc/cloud/templates/
  ssh_svcname: sshd
